/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --main-color: #3cdf2e;
  --text-color: #ffffff;
  --bg-color-01: #1f242d;
  --bg-color-02: #323946;
  --color-00: #0000001a;

  /* Extra */
  --color-01: #999999;
  --color-02: #009539;
  --color-03: #7950f2;
  --color-04: #c00000;
  --color-05: #232323;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

body {
    background: linear-gradient(50deg, #37b452, #000);
    background-attachment: fixed;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0;
    background-color: transparent;
    
}


.nav {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav a {
    display: inline-block;
    padding: 0.7rem 1.8rem;
    background-color: var(--main-color);
    border-radius: 2rem;
    color: var(--bg-color-02);
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: 0.3s ease;
    margin-top: 1.2rem;
}

.nav a:hover {
    color: black;
    text-decoration: none;
    font-weight: 900;
    border: 2px solid black;
}

.carousel-item img {
  width: 100%;
  height: auto;
  max-height: 60vh; /* Limite a altura máxima para 60% da altura da janela */
  object-fit: cover;
  transition: transform 2s;
}

/* Animação 3D */
.animacao-3d {
  animation: rotacao-3d 2s ease-in-out;
}

@keyframes rotacao-3d {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
}
50% {
    transform: rotateX(180deg) rotateY(180deg);
}
100% {
    transform: rotateX(360deg) rotateY(360deg);
}
}

.container {
    text-align: center;
    margin-top: 5rem;
}

#links a {
    display: inline;
    color: #212529;
    background-color: #3cdf2e;
}

div a h1 {
    color: #212529;
    text-decoration: none;
}

.container .row {
    margin: 15px 0;
}

.container .row #carousel-controles {
    margin-bottom: 15px;
}

#links a i {
    width: 3.5rem;
}

#links a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: solid 0.15rem var(--bg-color-01);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--bg-color-01);
    margin: 1.8rem 0.5rem;
    transition: 0.5s ease;
}

#links a:hover {
    background-color: var(--main-color);
    color: var(--bg-color-02);
    box-shadow: 0 0 0.3rem;
    text-decoration: none;
}

a span i {
    width: 5rem;
    font-size: 3rem;
    color: var(--bg-color-01);
}

@media (min-width: 1200px) {
    .carousel-item img {
      width: 100%;
      height: auto;
      max-height: 60vh; /* Limite a altura máxima */
      object-fit: cover;
    }
}

