

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}
#container {
    max-width: 900px;
    margin: auto;
    background: #fff;
    padding: 20px;
}

h1 {
    margin-top: 5rem;
}


.contact-info {
    margin-bottom: 20px;
}
.contact-info p {
    margin: 5px 0;
}

.contact p a {
    color: blue;
}
.section {
    margin-bottom: 20px;
}
.section ul {
    list-style-type: none;
    padding: 0;
}
.section ul li {
    margin-bottom: 10px;
}
.section-title {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
/* Estilos do header */
header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 1.1rem;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}

.header, .footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
.header h1, .footer p {
    margin: 0;
}

.header {
    margin-top: 4rem;
}

/* Estilos do contêiner dos botões */
header .nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* Estilo base para os botões de navegação e download */
.nav a,
#download {
    padding: 0.6rem;
    background-color: transparent;
    color: #3cdf2e;
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: all 0.3s ease;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

.nav a i {
    font-size: 3rem;
}


/* Efeito de hover */
.nav a:hover,
#download:hover,
#back:hover {
    background-color: #333;
    color: #3cdf2e;
    border: solid 2px #3cdf2e;
    border-radius: 0.5rem;
    font-weight: 900;
    transform: translateY(-3px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Efeito de foco */
.nav a:focus,
#download:focus,
#back:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(60, 223, 46, 0.5);
}

/* Responsividade */
@media (max-width: 768px) {
    .nav a,
    #download,
    #back {
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
        margin-top: 0;
    }

    h1 {
        margin-top: 4rem;
    }

    .nav a i {
        font-size: 2.5rem;
    }

    #container {
        padding: 15px;
    }
   
}

@media (max-width: 480px) {
    .nav a,
    #download,
    #back {
        padding: 0.4rem 0.8rem;
        font-size: 0.8rem;
        margin-top: 0;
    }

    h1 {
        margin-top: 3rem;
    }

    .nav a i {
        font-size: 2rem;
    }

  

}

/* Estilo da navegação para centralizar os links */
.nav {
    display: flex;
    justify-content: center;
    gap: 0; /* Remove o espaço entre os botões */
    flex-wrap: wrap;
}
